{% extends "base.html" %}
{% block content %}
<h2>Approve Gate Pass #{{ gp.id }}</h2>

<div class="panel">
<p><b>Name:</b> {{ gp.student.name }}</p>
<p><b>Reason:</b> {{ gp.reason }}</p>
<p><b>From:</b> {{ gp.from_time }}</p>
<p><b>To:</b> {{ gp.to_time }}</p>
</div>

<form method="POST" action="{{ url_for('hod.decide', pass_id=gp.id) }}" class="panel">
<textarea name="remarks" placeholder="Remarks"></textarea>

<button name="action" value="approve">Approve & Generate QR</button>
<button name="action" value="reject" class="danger">Reject</button>
</form>
{% endblock %}
