{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="post" action="{{ url_for('auth.register') }}">
  <label>Name</label><br>
  <input type="text" name="name" required><br>
  <label>Email</label><br>
  <input type="email" name="email" required><br>
  <label>Password</label><br>
  <input type="password" name="password" required><br>
  <label>Role</label><br>
  <select name="role">
    <option value="student">Student</option>
    <option value="incharge">Class In-charge</option>
    <option value="hod">HOD</option>
    <option value="security">Security</option>
  </select><br><br>
  <button type="submit">Register</button>
</form>
{% endblock %}
